.right-roud-button {
  background-color: white;
  border-radius: 25px;
  position: absolute;
  top: 146px;
  right: -17px;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-image: url("shape-5.svg");
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: 10px;
}

.right-roud-button-homes {
  top: 82px;
}

.right-roud-button-reservations {
  top: 63px;
}

.right-roud-button-destinations {
  top: 91px;
}
