.destination-card-image {
  height: 138px;
}

@media (min-width: 576px) {
  .destination-card-image {
    height: 220px;
  }
}

.destination-city-text {
  font-family: "CircularAir-Bold";
  font-size: 15px;
  line-height: 18px;
}
