.experience-card-image {
  height: 250px;
}

@media (min-width: 768px) {
  .experience-card-image {
    height: 346px;
  }
}

.experience-card-price {
  font-weight: bold;
  margin-right: 5px;
}

.experience-card-text {
  margin-top: 8px;
  font-size: 15px;
  line-height: 18px;
  color: #383838;
}

.experience-card-description {
  font-family: "CircularAir-Light";
}

.experience-shapestar {
  height: 12px;
  margin-right: 4px;
}

.experience-review {
  font-family: "CircularAir";
  font-size: 12px;
  line-height: 14px;
}

.experience-cards {
  display: flex;
  overflow: hidden;
}
