.select-style {
  border: 1px solid rgba(72, 72, 72, 0.2);
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
  background: #fff;
  height: 48px;

  margin-bottom: 16px;
  display: inline-block;
  width: 49%;
}

.select-style.second-select {
  float: right;
}

.select-style select {
  height: 100%;
  width: 100%;
  border: none;
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  outline-width: 0;
  padding-left: 16px;
  font-family: "CircularAir-Light";
  font-size: 12px;
  color: #383838;
  background-image: url("select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: calc(100% - 6px);
  background-position-y: 20px;
}

select::-ms-expand {
  display: none;
}

.footer {
  padding-top: 48px;
  border-top: 1px solid rgba(72, 72, 72, 0.3);
}

.footer-text {
  font-family: "CircularAir";
  font-size: 15px;
  margin-bottom: 8px;
  color: #636363;
  display: block;
}

.footer-text.label {
  font-weight: bold;
  margin-bottom: 16px;
}

.footer-item {
  height: 37px;
  display: flex;
  font-family: "CircularAir";
  font-size: 15px;
  color: #636363;
  align-items: center;
}
.footer-item.right-footer-item {
  display: flex;
  justify-content: flex-start;
}

.little-footer-row {
  padding-top: 10px;
  margin-top: 28px;
  border-top: 1px solid rgba(72, 72, 72, 0.3);
}

.footer-links-wrapper {
  display: none;
}

.footer-links {
  margin: 0px 5px;
}

@media only screen and (min-width: 576px) {
  .select-style select {
    font-size: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .select-style {
    width: 216px;
  }

  .select-style select {
    font-size: 18px;
  }

  .select-style.second-select {
    float: none;
  }

  .little-footer-row {
    padding-bottom: 10px;
  }
  .footer-links-wrapper {
    justify-content: flex-end;
    display: flex;
  }
}

@media only screen and (min-width: 992px) {
  .footer-item.right-footer-item {
    justify-content: flex-end;
  }
}
